body{
    margin: 0;
    height: 100%;
  }

.app{
    height: 100%;
      background-color:#000000;
    transition: background-color 0.5s ease;
  }
  
  .scrolled {
    background-color: #3eb6cc;

  }