body{
    margin: 0;
    height: 100%;
  }

.app{
    height: 100%;
      background-color:#000000;
    transition: background-color 0.5s ease;
  }
  
  .scrolled {
    background-color: #1a6db1;
    /* background-color: linear-gradient(#f0b968 0, #60a5dd 100%); */
  }

  